* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    border: 1px solid #333;
    padding: 100px;
    background: #111;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.1);
}

h1 {
    font-size: 18px;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    white-space: nowrap;
    color: greenyellow;
}

p {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 10px;
    text-align: center;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: greenyellow;
    border: none;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.95);
}

.result {
    width: 100%;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    font-family: 'Courier New', monospace;
    line-height: 1.4;
    font-weight: bold;
    white-space: pre-line;
    overflow-x: auto; /* Prevents long URLs from breaking the box */
}

.hidden {
    display: none;
}

.result.legit {
    background: #1f7a1f;
    color: white;
}

.result.phishing {
    background: #7a1f1f;
    color: white;
}

.result.error {
    background: orange;
}